[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pyspark = "*"
pyspark-stubs = "*"
pandas = "*"
graphframes = "*"
luigi = "*"
python-daemon = "*"
